<link rel="stylesheet" href="/assets/stylesheets/footer.css">
<footer class="footer_main">
    <div class="footer_wrapper">
        <ul class=footer_list>
            <!-- <li id=copyright> </li> -->
            <li><a href="#">GET TO KNOW US</a></li>
            <li><a href="#">PROMOS</a></li>
            <li><a href="#">BECOME A DONAR</a></li>
            <li><a href="#">SUBSCRIBE</a></li>
            <li><a href="#">RENEW</a></li>
        </ul>
        <p>
            &#169; Copyright 1999-2019 by MakeYourRecipes. All Rights Reserved.
        </p>
    </div>
</footer>

