<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png" />
    <title>MakeYourRecipes-AboutUs</title>
    <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">
    <link rel="stylesheet" href="/assets/stylesheets/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--[if lt IE  9]>
    <script type="text/javascript">
        document.createElement("article");
        document.createElement("aside");
        document.createElement("header");
        document.createElement("footer");
        document.createElement("main");
        document.createElement("nav");
        document.createElement("section");
    </script>
    <![endif]-->
</head>
<body>
<div class="container">
    <% include partials/header.ejs%>
    <div class="body_wrapper">
        <% include partials/nav.ejs%>
<% include partials/site-navigation.ejs%>
        <div class="main_container">
                <h2 class="about_us_heading">About Us</h2>
            <div class="aboutus_img">
                <img src="assets/images/about_us.jpg" alt="AboutUS">
            </div>
                 
            <div class="AboutUs_Details">
                <p>MakeMyRecipes.com features the largest collection of professionally-tested recipes online from food experts at the magazines and cookbooks you love and trust--including Cooking Light, Southern Living, Sunset, Coastal Living, Real Simple, and more.</p>
                <br>
                <b>SEARCH</b>
                <p>Find the food you need for any occasion with our recipe finder. Easily refine your search with any of nearly 150 recipe categories. The site delivers every type of recipe you could want, from decadent desserts and authentic cuisines to great-tasting healthy favorites with nutrition information that is reviewed by registered dietitians.</p>
                <br>
                <b>SAVOR</b>
                <p>Enjoy daily features that include quick meal ideas, seasonal menus, cooking videos, cookbook reviews and our take on the latest gadgets. Get holiday tips and entertaining ideas for any size gathering. You'll also find thousands of big, mouthwatering photos and scores of how-to videos with tips to help you cook with confidence.</p>
                <br>
                <b>SHARE</b>
                <p>Save your favorite recipes. Build and email your shopping lists. Create and pass around menus for upcoming get-togethers. Rate the recipes and discover new must-try dishes from thousands of reviews from fellow cooks.</p>
                <br>
                <b>COME BACK FOR SECONDS</b>
                <p>This is just the first course! In the coming months we'll be beefing up search, uploading even more gorgeous photos, and expanding personalized features to make MyRecipes.com the best food site online. Sign up for our weekly newsletter to get content updates and notification of site improvements.</p>
            </div>
                <div class="aside_container">
                    <div class ="person_wrapper">
                        <h4> Meet The Team </h4>
                        <div class="person">
                            <img src="assets/images/Timothy_olyphant.jpg" alt="CEO" />
                                <div class="person_container">
                                    <h4 class="article_content"><b>Timothy Olyphant</b></h4>
                                    <p class="article_content">CEO</p>
                                </div>
                        </div>
                        <div class="person">
                            <img src="assets/images/Suzzane_Wozanki.jpg" alt="VP Marketing & Sales" />
                            <div class="person_container">
                                <h4 class="article_content"><b>Suzzane Wozanki</b></h4>
                                <p class="article_content">VP Marketing & Sales</p>
                            </div>
                        </div>
                        <div class="person">
                            <img src="assets/images/Rodney_Newhamps.jpg" alt="VP Operations" />
                            <div class="person_container">
                                <h4 class="article_content"><b>Rodney Newhamps</b></h4>
                                <p class="article_content">VP operations</p>
                            </div>
                        </div>
                        <div class="person">
                            <img src="assets/images/Oliva_Munn.jpg" alt="VP Human Resources" />
                            <div class="person_container">
                                <h4 class="article_content"><b>Oliva Munn</b></h4>
                                <p class="article_content">VP Human Resources</p>
                            </div>
                        </div>

                        <div class="person">
                            <img src="assets/images/sidney_silvermen.jpg" alt="VP Finance" />
                            <div class="person_container">
                                <h4 class="article_content"><b>sidney silvermen</b></h4>
                                <p class="article_content">VP Finance</p>
                            </div>
                        </div>

                        <div class="person">
                            <img src="assets/images/Alex_hales.jpg" alt="CTO" />
                            <div class="person_container">
                                <h4 class="article_content"><b>Alex Hales</b></h4>
                                <p class="article_content">CTO</p>
                            </div>
                        </div>
                    </div>
                </div>


        </div>
    </div>
</div>
<% include partials/footer.ejs%>

</body>
</html>




